*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
}



.navigator-number {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

.navigator-number a {
    font-size: 30px;
    border-radius: 100%;
    background-color: white;
    text-decoration: none;
    padding: 0 18px;
}

.background-shoe-container {
    position: relative;
    height: 100vh
}

.shoe-container {
    position: absolute;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shoe-img,
img {
    width: 100%
}

.shoe-container h1 {
    font-size: 90px;
    text-align: center;
    line-height: 80px;
}



#navigator {
    position: fixed;
    right: 0;
    z-index: 1;
}

#red {
    background-color: red;
    color: yellow;
}

#green {
    background-color: green;
    color: yellow;
}

#yellow {
    background-color: yellow;
    color: green;
}